<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <application
        android:name=".MyApplication"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PixabayApplication"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        >
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8265796598311311~8823962298"/>
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.PixabayApplication.NoActionBar"
            android:configChanges="orientation|screenSize"
            >

        </activity>
        <activity
            android:name=".videoPlayView.VideoPlayActivity"
            android:exported="false"
            android:screenOrientation= "landscape"
            android:theme="@style/Theme.PixabayApplication.FullScreen"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation= "portrait"
            android:theme="@style/Theme.App.SplashActivityTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>




    </application>

</manifest>